body {
    background-image: url("bg_01.jpg");
    background-size:cover;
    color: aliceblue;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 20px;
    text-align: center;
}

#bienvenida {
    color: aquamarine;
    margin: 20px;
}

a {
    margin: 2px;
}

code {
    padding-top: 150px;
    color: gray;
}
/* primer boton */
#arte {
    background-color: rgb(161, 40, 50);
    padding: 35px;
    margin: 10px;
    border-radius: 20px;
}
#arte:hover {
    background-image: url("arte.jpg");
    color: rgb(21, 25, 39);
    transform: scale(1.1);
}
/* segundo boton */
#contacto {
    background-color: rgb(66, 34, 155);
    padding: 35px;
    margin: 10px;
    border-radius: 20px;    
}
#contacto:hover {
    background-image: url("cont.jpg");
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}
/* tercer boton */
#clases {
    background-color: rgb(34, 155, 155);
    padding: 35px;
    margin: 10px;
    border-radius: 20px;
}
#clases:hover {
    background-image: url("class.jpg");
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}
/* cuarto boton */
#tour {
    background-color: rgb(34, 121, 155);
    padding: 35px;
    margin: 10px;
    border-radius: 20px;
}
#tour:hover {
    background-image: url("tour.jpg");
    color: rgb(21, 25, 39);
    transform: scale(1.1);
}

/* Otros ajustes */
a {
    margin: 1%;
}

#facebook {
    background-color: rgb(0, 153, 255);
    color: rgb(255, 255, 255);
    padding-left: 26%;
    padding-right: 26%;
    background-size: auto;
}
#instagram {
    background-color: rgb(219, 81, 253);
    color: aliceblue;
    padding-left: 25%;
    padding-right: 25%;
}
#tiktok {
    background-color: rgb(98, 60, 185);
    color: aliceblue;
    border-color: aquamarine;
    padding-left: 27%;
    padding-right: 27%;
}
#whatsapp {
    background-color: rgb(50, 209, 156);
    color: aliceblue;
    padding-left: 25%;
    padding-right: 25%;
}